name: Scan Settimanale Gare

on:
  schedule:
    - cron: '0 8 * * 1,4'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python tender_bot.py

      - name: Salva memoria gare
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          touch gare_inviate.txt 
          git add gare_inviate.txt
          git commit -m "Aggiornamento archivio" || echo "No changes"
          git push
